body {
  background-color: #209DFF;
  background-image: url("/media/congruent_pentagon.png");
  height: 100%;
}

#page_container {
    margin: 5vh auto 5vh auto;
    padding: 5px 10px 5px 10px;

    width: 75%;
    height: 90vh;
}

#form_container {
    width: 75%;
    height: 100%;

    margin: 0px 5px 0px 0px;

    float: left;
}

#live_container {
    height: 100%;
    margin: 0px 0px 0px 5px;
}

#form_container, #live_container {
    padding: 5px 10px 5px 10px;

    background-color: white;
    border-radius: 5px;

    overflow: auto;
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

input[type=checkbox]         + label, input[type=checkbox]:hover         + label {
  color: #993333;
  background-color: #FF9999;
}

input[type=checkbox]:checked + label, input[type=checkbox]:checked:hover + label {
  color: #339933;
  background-color: #99FF99;
}

/** {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}

body {
    font: 16px Helvetica, Arial;
}


form {
    border: 3;
    background: white;
    padding: 0px;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}

form input {
    padding: 9px;
    float:left;
    width: 90%;
}

form button {
    width: 10%;
    background: lightblue;
    border: none;
    padding: 11px;
}

.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.messages li {
    padding: 5px 10px;
}

.messages li:nth-child(odd) {
    background: #eee;
}*/
