body {
  background-color: #209DFF;
  /*background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/circles-and-roundabouts.png");*/
  height: 100%;
}

#wrap {
    width: 75%;
    margin: 5vh auto 5vh auto;
    background-color: white;
    /*background-image: url("/images/circles-and-roundabouts.jpg");*/
    padding: 5px 10px 5px 10px;
    height: 90vh;
    border-radius: 5px;
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

input[type=checkbox]         + label, input[type=checkbox]:hover         + label {
  color: #FFFFFF;
  background-color: #CCCCCC;
}

input[type=checkbox]:checked + label, input[type=checkbox]:checked:hover + label {
  color: #999999;
  background-color: #FFFFFF;
}

/** {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}

body {
    font: 16px Helvetica, Arial;
}


form {
    border: 3;
    background: white;
    padding: 0px;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}

form input {
    padding: 9px;
    float:left;
    width: 90%;
}

form button {
    width: 10%;
    background: lightblue;
    border: none;
    padding: 11px;
}

.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.messages li {
    padding: 5px 10px;
}

.messages li:nth-child(odd) {
    background: #eee;
}*/
