
/* determines the text displayed on the AND/OR button */
/* this is handled by bootstrap */

#or_operator         + label:after, #or_operator         + label:after {
    content: "AND";
}

#or_operator:checked + label:after, #or_operator:checked + label:after {
    content: "OR";
}


#or_operator + label {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* --- */


/* tweet database states: */

/*  colour to represent tweets stored on the server's database */
.storage {
    background-color: orange;
}

/*  colour to represent "fresh" tweets (straight from twitter) */
.twitter {
    background-color: blue;
}

/* colour to represent tweets stored in the mobile's local database */
.mobile {
    background-color: green;
}

/* --- */